@tailwind base;
@tailwind components;
@tailwind utilities;


.SudokuView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.center {
  margin: 20px;
  height: 500px;
  width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 20px;
  height: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid black; /* Add a border to the table */
}

td {
  padding: 5px;
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  text-align: center;
}

td:nth-child(3n) {
  border-right: 2px solid black;
}

tr:nth-child(3n) td {
  border-bottom: 2px solid black;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
}

.button-blue {
  background-color: #007bff; 
  color: white;
  font-size: 16px; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}
