.bar {
    width: 98%;
    background-color: #1a0535; /* Choose your desired background color */
    display: flex;
    justify-content: space-around; /* Distribute items evenly along the main axis */
    color: #fff; /* Choose your desired text color */
    padding: 10px 20px; /* Adjust padding as needed */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the bar stays on top of other content */
  }
  
  .bar button {
    color: #fff; /* Button text color */
    background-color: transparent; /* Transparent button background */
    border: none; /* Remove button border */
    cursor: pointer;
    padding: 8px 16px; /* Adjust padding for button size */
  }


  /* Style the dropdown button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  











