.menu-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 96vh;
  min-width: 96vh;
  background-color: #2f0f57;
  color: #fff;
  padding: 20px; /* Add padding for better spacing */
}


/*Title*/
.menu-screen h1 {
  font-size: 5vw; /* Use vw unit to make the font size responsive */
  margin-bottom: 8vw; /* Adjust margin with vw units */
}

.menu-screen t1 {
  font-size: 1vw; /* Use vw unit to make the font size responsive */
  bottom: 10vw; /* Adjust distance from bottom as needed */

}

.menu-screen form {
  display: flex;
  flex-direction: column;
}

.menu-screen form select {
  margin-top: 10px; /* Adjust as needed */
}


/*Username*/
.menu-screen input[type="text"], 
.menu-screen button {
  padding: 10px 20px; /* Adjust padding for buttons and inputs */
  font-size: 4vw; /* Use vw unit to make the font size responsive */
  margin: 10px 0; /* Adjust margin with vw units */
}


/*Size of Sudoku*/
.kn-inputs {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between inputs as needed */
  position: absolute;
  bottom: 4vw; /* Adjust distance from bottom as needed */
  width: 100%;
}


.menu-screen input[type="number"] {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.menu-screen form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menu-screen input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.board-preview {
  display: grid;
  gap: 2px; /* Adjust the gap between regions */
  margin-top: 20px;
  background-color: #514949;
  overflow: auto; /* Enable overflow handling */
  justify-content: center;
  max-width: 80vw; /* Maximum width for the preview container */
  max-height: 80vh; /* Maximum height for the preview container */
}

.preview-region {
  background-color: #ffffff;
  display: grid;
  gap: 1px; /* Smaller gap for cells within the same region */
}

.preview-cell {
  background-color: #baaaaa;
  min-width: 10px; /* Minimum cell width, adjust as necessary */
  min-height: 10px; /* Minimum cell height, adjust as necessary */
  aspect-ratio: 1 / 1; /* Ensures cells are always square */
}