.menu-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 96vh;
  min-width: 96vh;
  background-color: var(--background-color);
  color: #fff;
  padding: 20px; 
}


/*Title*/
.menu-screen h1 {
  font-size: 5vw; 
  margin-bottom: 8vw; 
}

.menu-screen t1 {
  font-size: 1vw; 
  bottom: 10vw; 

}

.menu-screen form {
  display: flex;
  flex-direction: column;
}

.menu-screen form select {
  margin-top: 10px; 
}


/*Username*/
.menu-screen input[type="text"], 
.menu-screen button {
  padding: 10px 20px;
  font-size: 4vw; 
  margin: 10px 0; 
}


/*Size of Sudoku*/
.kn-inputs {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 4vw; 
  width: 100%;
}


.menu-screen input[type="number"] {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.menu-screen form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menu-screen input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.board-preview {
  display: grid;
  gap: 2px; 
  margin-top: 20px;
  background-color: #514949;
  overflow: auto; 
  justify-content: center;
  max-width: 80vw; 
  max-height: 80vh;
}

.preview-region {
  background-color: #ffffff;
  display: grid;
  gap: 1px; 
}

.preview-cell {
  background-color: #baaaaa;
  min-width: 10px; 
  min-height: 10px; 
  aspect-ratio: 1 / 1; 
}



.menu-screen {
  position: relative; 
}

.icon-container {
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1002; 
}

.sidebar-trigger {
  cursor: pointer;
  font-size: 32px; 
  color: white; 
  padding: 10px;
}
.sidebar-menu-content {
  margin-top: 30px;
  align-items: center;
}

.sidebar-menu {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; 
  height: 100%;
  background-color: #2f0f57;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%) scale(0.9); 
  transition: transform 0.4s ease, opacity 0.4s ease; 
  opacity: 0;
  z-index: 1001; 
}
.menu-screen .sidebar-menu.active {
  transform: translateX(0) scale(1); 
  opacity: 1;
}

.sidebar-menu button {
  padding: 10px;
  margin-bottom: 10px; 
  font-size: 1rem;
  background-color: #4e0ecc;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
}

.sidebar-menu button:hover {
  background-color: #11101d;
}





