.menu-screen button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 250px;
}

.menu-screen button[type="submit"] {
    background-color: #007bff;
    color: white;
    margin: 10px;
}

.menu-screen button[type="submit"]:hover {
    background-color: #0056b3;
}

.menu-screen button[type="button"] {
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    margin: 10px;
}

.menu-screen button[type="button"]:hover {
    background-color: #218838;
}

.menu-screen .geomap-button[type="button"] {
    margin-top: 20px;
    background-color: #a72828;
    color: white;
    margin: 10px;
}

.menu-screen .geomap-button[type="button"]:hover {
    background-color: #8a2121;
}

.menu-screen .loadgame-button[type="button"] {
    margin-top: 20px;
    background-color: #bc9e23;
    color: white;
    margin: 10px;
}

.menu-screen .loadgame-button[type="button"]:hover {
    background-color: #836901;
}

.menu-screen .settings-button[type="button"] {
    margin-top: 20px;
    background-color: #23b9bc;
    color: white;
    margin: 10px;
}

.menu-screen .settings-button[type="button"]:hover {
    background-color: #018378;
}