.map-container {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.settings-content {
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.settings-sections {
    display: flex; 
    justify-content: space-around;
}

.settings-section {
    margin: 0 10px; 
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    flex: 1; 
}

.theme-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between the buttons */
}

.settings-option {
    display: block;
    margin: 10px 0;
    font-size: 1.2rem;
}

.settings-option input[type="checkbox"] {
    margin-right: 10px;
}

.settings-option input[type="range"] {
    width: 100%;
}

.SettingsView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
}

.settings-screen h1 {
    margin-bottom: 8vw; 
    font-size: 2.5rem;
    text-align: center;
}

.settings-screen h2 {
    margin-bottom: 0px;
    font-size: 1.5rem;
    color: rgb(20, 19, 44);
    text-align: center;
}

.settings-screen button[type="button"] {
    margin-top: 20px;
    background-color: var(--settings);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}

.settings-button[type="button"]:hover {
    background-color: #018378;
}

.SettingsView {
    color: white;
    text-align: left;
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
}

.settings-screen {
    text-align: center;
}
