.map-container {
    position: relative;
    background-color: var(--background-color); /* Static color instead of image */
    width: 100%;
    height: 100vh; /* Fills the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}
.statistics-screen h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
    margin-top: -200px;
    margin-left: 200px;
  }

.StatisticsView {
    color: white; /* Makes all text within white */
    text-align: left; /* Aligns the text to the left */
    width: 80%; /* Adjust this as needed */
    margin-left: auto; /* This keeps the container centered */
    margin-right: auto;
    display: flex;
    justify-content: space-evenly; /* Adjust spacing between children */

}

.statistics-details {
    flex: 1; /* This allows the container to grow */
    margin: 20px; /* Adds some space around the text */
    max-width: 600px; /* Adjust based on your content */
}

.StatisticsView .chart-container {
    margin: 20px auto; /* Centers the chart in the flex container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Adjust based on your design */
    height: 300px; /* Adjust based on your content */
}

@media (max-width: 768px) {
    .chart-container {
        width: 100%; /* Full width on smaller screens */
        padding: 10px; /* Less padding on smaller screens */
    }
}
