:root {
  --background-color: #2f0f57;
  --begin-game: #007bff;
  --leaderboard: #28a745;
  --geomap: #a72828;
  --loadgame: #bc9e23;
  --cronicles: #bc23b9;
  --statistics: #0e4a72;
  --settings: #23b9bc;
  --tutorial: #006D5B;
}

.Original{
  --background-color: #2f0f57;
  --begin-game: #007bff;
  --leaderboard: #28a745;
  --geomap: #a72828;
  --loadgame: #bc9e23;
  --cronicles: #bc23b9;
  --statistics: #0e4a72;
  --settings: #23b9bc;
  --tutorial: #006D5B;
}

.Theme {
  --background-color: #0f1f57;
  --begin-game: #007bff;
  --leaderboard: #28a745;
  --geomap: #a72828;
  --loadgame: #bc9e23;
  --cronicles: #bc23b9;
  --statistics: #0e4a72;
  --settings: #23b9bc;
  --tutorial: #006D5B;
}

.Green {
  --background-color: #066229;
  --begin-game: #342987;
  --leaderboard: #0e4a72;
  --geomap: #d3ae0b;
  --loadgame: #0146be;
  --cronicles: #d1692e;
  --statistics: #3b91ca;
  --settings: #1b26a5f2;
  --tutorial: #006D5B;
}

